In [1]:
import psycopg2
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

#from variables import CONNECTION, PATH_FIJO_XLSX, PATH_INDEX_XLSX

In [2]:
conn = psycopg2.connect(
    dbname="proyectoTribu",
    user="grupo3desafio",
    password="SEP23-thebridge-tripulantes",
    host="database-desafio-grupo3.postgres.database.azure.com",
    port="5432"  # Puerto predeterminado para PostgreSQL
)

# Crear un cursor
cursor = conn.cursor()

In [3]:
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
rows = cursor.fetchall()
rows

[('advisor',),
 ('client_erp',),
 ('address',),
 ('agreement',),
 ('proposal',),
 ('type_proposal',),
 ('cia_client',),
 ('prize',),
 ('consumption',),
 ('total_consumption',),
 ('cia_several',)]

In [4]:

df_fijo = pd.read_csv("PATH_FIJO_XLSX" , sep=";")
df_indexado = pd.read_csv("PATH_INDEX_XLSX" , sep=";")

In [5]:
df_indexado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9671 entries, 0 to 9670
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PRECIOS INDEX MES       9670 non-null   object
 1   Unnamed: 1              9670 non-null   object
 2   Unnamed: 2              9670 non-null   object
 3   Unnamed: 3              9670 non-null   object
 4   Unnamed: 4              9670 non-null   object
 5   Unnamed: 5              9166 non-null   object
 6   Unnamed: 6              9166 non-null   object
 7   Unnamed: 7              9166 non-null   object
 8   Unnamed: 8              9166 non-null   object
 9   Unnamed: 9              9166 non-null   object
 10  Unnamed: 10             9149 non-null   object
 11  Unnamed: 11             0 non-null      float64
 12  PRECIOS INDEX POTENCIA  380 non-null    object
 13  Unnamed: 13             380 non-null    object
 14  Unnamed: 14             380 non-null    object
 15  Unnamed: 15             380 non-null    object
 16  Unnamed: 16             380 non-null    object
 17  Unnamed: 17             380 non-null    object
 18  Unnamed: 18             380 non-null    object
 19  Unnamed: 19             380 non-null    object
 20  Unnamed: 20             380 non-null    object
 21  Unnamed: 21             380 non-null    object
 22  Unnamed: 22             380 non-null    object
dtypes: float64(1), object(22)
memory usage: 1.7+ MB

In [135]:
engine = create_engine("CONNECTION")

In [136]:
def change_zones(zone):
    if zone == "BALEARES":
      return "B"
    elif zone == "CANARIAS":
      return "C"
    else:
      return "C"

In [137]:
def change_market(m):
    if m == "FIJO":
        return "F"
    else:
        return "I"

In [138]:
path_exel = "../data/PRECIOS_LUZ.xlsx" 
df_fijo = pd.read_excel(path_exel, header=1, sheet_name="FIJO")
df_fijo.drop(columns="Unnamed: 0", inplace=True, axis=1)
df_fijo.rename(columns={"sistema": "zone",
                        "cia": "cia",
                        "producto": "market",
                        "producto cia": "product_cia",
                        "tarifa": "rate",
                        "fee": "fee",
                        "P1":"con_price_p1",
                        "P2": "con_price_p2",
                        "P3": "con_price_p3",
                        "P4": "con_price_p4",
                        "P5": "con_price_p5",
                        "P6": "con_price_p6",
                        "P1.": "pow_price_p1",
                        "P2.": "pow_price_p2",
                        "P3.": "pow_price_p3",
                        "P4.": "pow_price_p4",
                        "P5.": "pow_price_p5",
                        "P6.": "pow_price_p6", 
                        }, inplace=True)

In [139]:
df_fijo

,zone,cia,market,product_cia,rate,fee,con_price_p1,con_price_p2,con_price_p3,con_price_p4,con_price_p5,con_price_p6,pow_price_p1,pow_price_p2,pow_price_p3,pow_price_p4,pow_price_p5,pow_price_p6
0,BALEARES,ACCIONA,FIJO,CIERZO,2.0TD,-,0.088121,0.019570,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.356438,0.305364,0.266744,0,0,0
1,BALEARES,ACCIONA,FIJO,LEVANTE,2.0TD,-,0.071682,0.003132,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.367603,0.316529,0.277909,0,0,0
2,BALEARES,ACCIONA,FIJO,LEVANTE+,2.0TD,-,0.082641,0.014091,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.367603,0.316529,0.277909,0,0,0
3,BALEARES,ACCIONA,FIJO,PONIENTE,2.0TD,-,0.071682,0.003132,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.361513,0.310439,0.271819,0,0,0
4,BALEARES,ACCIONA,FIJO,PONIENTE+,2.0TD,-,0.077162,0.008611,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.361513,0.310439,0.271819,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,PENINSULA,ADI,FIJO,ADI SENCILLA,3.0TD,-,0.038308,0.032600,1.096451e-02,1.001089e-02,7.486868e-03,5.482564e-03,0.239604,0.218459,0.19183,0.171813,0.168778,0.167685
906,PENINSULA,TOTAL,FIJO,CLASICA TE5 UNICA,6.1TD,-,0.074000,0.065000,3.900000e-02,3.400000e-02,1.600000e-02,1.400000e-02,-,-,-,-,-,-
907,PENINSULA,ENDESA,FIJO,TEMPO OPEN 50≤100kW,3.0TD,-,0.039951,0.034164,1.222790e-02,1.126103e-02,8.701967e-03,6.669833e-03,0.231174,0.231174,0.231174,0.231174,0.231174,0.231174
908,PENINSULA,ENDESA,FIJO,TEMPO OPEN >100kW,3.0TD,-,0.039951,0.034164,1.222790e-02,1.126103e-02,8.701967e-03,6.669833e-03,0.231174,0.231174,0.231174,0.231174,0.231174,0.231174
909,PENINSULA,ENDESA,FIJO,TEMPO 3 PERIODOS,2.0TD,-,0.101064,0.034285,1.000000e-11,1.000000e-11,1.000000e-11,1.000000e-11,0.268,0.213,0.176,0.0,0.0,0.0

In [163]:
df_indexado = pd.read_excel(path_exel, header=3, sheet_name="INDEXADO")
df_indexado_date = df_indexado.iloc[:,0:12]

In [164]:
df_indexado

,Unnamed: 0,SISTEMA,TARIFA,CIA,MES,FEE,P1.,P2.,P3.,P4.,...,CIA.1,PRODUCTO,PRODUCTO CIA,TARIFA.1,P1,P2,P3,P4,P5.1,P6
0,NaN,BALEARES,2.0TD,ACCIONA,2023-10-01,Cierzo,0.209373,0.162565,0.139301,0.0,...,ACCIONA,INDEXADO,CIERZO,2.0TD,0.088121,0.019570,0.000000,0.000000,0.000000,0.000000
1,NaN,BALEARES,3.0TD,ACCIONA,2023-10-01,Cierzo,0.000000,0.168157,0.154389,0.0,...,ACCIONA,INDEXADO,CIERZO,3.0TD,0.056000,0.046924,0.030475,0.028048,0.023445,0.021317
2,NaN,BALEARES,6.1TD,ACCIONA,2023-10-01,Cierzo,0.000000,0.148220,0.138044,0.0,...,ACCIONA,INDEXADO,CIERZO,6.1TD,0.077855,0.072249,0.047885,0.041248,0.021896,0.019686
3,NaN,BALEARES,6.2TD,ACCIONA,2023-10-01,Cierzo,0.000000,0.134608,0.129325,0.0,...,ACCIONA,INDEXADO,CIERZO,6.2TD,0.060270,0.056978,0.037051,0.035407,0.019981,0.018683
4,NaN,BALEARES,2.0TD,ACCIONA,2023-09-01,Cierzo,0.224931,0.178193,0.155249,0.0,...,ACCIONA,INDEXADO,LEVANTE+,2.0TD,0.082641,0.014091,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11443,NaN,CANARIAS,6.2TD,AEQ,2023-12-01,20,0.000000,0.163561,0.148103,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11444,NaN,CANARIAS,6.2TD,AEQ,2023-11-01,25,0.000000,0.157451,0.145968,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11445,NaN,CANARIAS,6.2TD,AEQ,2023-12-01,25,0.000000,0.168561,0.153103,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11446,NaN,CANARIAS,6.2TD,AEQ,2023-11-01,30,0.000000,0.162451,0.150968,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11447,NaN,CANARIAS,6.2TD,AEQ,2023-12-01,30,0.000000,0.173561,0.158103,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:

df_indexado_date.drop(columns="Unnamed: 0", inplace=True, axis=1)
df_indexado_date.rename(columns={"SISTEMA": "zone",
                        "CIA": "cia",
                        "PRODUCTO": "market",
                        "PRODUCTO CIA": "product_name",
                        "TARIFA": "rate",
                        "FEE": "fee",
                        "MES": "indexed_date",
                        "P1.":"con_price_p1",
                        "P2.": "con_price_p2",
                        "P3.": "con_price_p3",
                        "P4.": "con_price_p4",
                        "P5": "con_price_p5",
                        "P6.": "con_price_p6"
                        }, inplace=True)
df_indexado_date["market"] = "INDEXADO"

In [166]:
df_indexado_date

,zone,rate,cia,indexed_date,fee,con_price_p1,con_price_p2,con_price_p3,con_price_p4,con_price_p5,con_price_p6,market
0,BALEARES,2.0TD,ACCIONA,2023-10-01,Cierzo,0.209373,0.162565,0.139301,0.0,0.0,0.000000,INDEXADO
1,BALEARES,3.0TD,ACCIONA,2023-10-01,Cierzo,0.000000,0.168157,0.154389,0.0,0.0,0.138667,INDEXADO
2,BALEARES,6.1TD,ACCIONA,2023-10-01,Cierzo,0.000000,0.148220,0.138044,0.0,0.0,0.126466,INDEXADO
3,BALEARES,6.2TD,ACCIONA,2023-10-01,Cierzo,0.000000,0.134608,0.129325,0.0,0.0,0.123215,INDEXADO
4,BALEARES,2.0TD,ACCIONA,2023-09-01,Cierzo,0.224931,0.178193,0.155249,0.0,0.0,0.000000,INDEXADO
...,...,...,...,...,...,...,...,...,...,...,...,...
11443,CANARIAS,6.2TD,AEQ,2023-12-01,20,0.000000,0.163561,0.148103,0.0,0.0,0.122141,INDEXADO
11444,CANARIAS,6.2TD,AEQ,2023-11-01,25,0.000000,0.157451,0.145968,0.0,0.0,0.106328,INDEXADO
11445,CANARIAS,6.2TD,AEQ,2023-12-01,25,0.000000,0.168561,0.153103,0.0,0.0,0.127141,INDEXADO
11446,CANARIAS,6.2TD,AEQ,2023-11-01,30,0.000000,0.162451,0.150968,0.0,0.0,0.111328,INDEXADO
11447,CANARIAS,6.2TD,AEQ,2023-12-01,30,0.000000,0.173561,0.158103,0.0,0.0,0.132141,INDEXADO

In [167]:
df_con_sev = pd.concat([df_fijo, df_indexado_date])

In [168]:
df_con_sev["zone"] = df_con_sev["zone"].apply(change_zones)
df_con_sev["market"] = df_con_sev["market"].apply(change_market)
df_con_sev.fillna(value=0)

,zone,cia,market,product_cia,rate,fee,con_price_p1,con_price_p2,con_price_p3,con_price_p4,con_price_p5,con_price_p6,pow_price_p1,pow_price_p2,pow_price_p3,pow_price_p4,pow_price_p5,pow_price_p6,indexed_date
0,B,ACCIONA,F,CIERZO,2.0TD,-,0.088121,0.019570,0.000000,0.0,0.0,0.000000,0.356438,0.305364,0.266744,0,0,0,0
1,B,ACCIONA,F,LEVANTE,2.0TD,-,0.071682,0.003132,0.000000,0.0,0.0,0.000000,0.367603,0.316529,0.277909,0,0,0,0
2,B,ACCIONA,F,LEVANTE+,2.0TD,-,0.082641,0.014091,0.000000,0.0,0.0,0.000000,0.367603,0.316529,0.277909,0,0,0,0
3,B,ACCIONA,F,PONIENTE,2.0TD,-,0.071682,0.003132,0.000000,0.0,0.0,0.000000,0.361513,0.310439,0.271819,0,0,0,0
4,B,ACCIONA,F,PONIENTE+,2.0TD,-,0.077162,0.008611,0.000000,0.0,0.0,0.000000,0.361513,0.310439,0.271819,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11443,C,AEQ,I,0,6.2TD,20,0.000000,0.163561,0.148103,0.0,0.0,0.122141,0,0,0,0,0,0,2023-12-01 00:00:00
11444,C,AEQ,I,0,6.2TD,25,0.000000,0.157451,0.145968,0.0,0.0,0.106328,0,0,0,0,0,0,2023-11-01 00:00:00
11445,C,AEQ,I,0,6.2TD,25,0.000000,0.168561,0.153103,0.0,0.0,0.127141,0,0,0,0,0,0,2023-12-01 00:00:00
11446,C,AEQ,I,0,6.2TD,30,0.000000,0.162451,0.150968,0.0,0.0,0.111328,0,0,0,0,0,0,2023-11-01 00:00:00
11447,C,AEQ,I,0,6.2TD,30,0.000000,0.173561,0.158103,0.0,0.0,0.132141,0,0,0,0,0,0,2023-12-01 00:00:00

In [145]:
# Establecer la conexión a la base de datos
engine = create_engine(CONNECTION)

# Insertar el DataFrame en la tabla 'personas'
df_con_sev.to_sql('cia_con_several', con=engine, index=False, if_exists='replace')

358

In [169]:
df_power = df_indexado.iloc[:,12:]

In [171]:
df_power = df_indexado.iloc[:,12:]
df_power.drop(columns="Unnamed: 12", inplace=True, axis=1)
df_power.dropna(inplace=True)
df_power.rename(columns={"SISTEMA.1": "zone",
                        "CIA.1": "cia",
                        "PRODUCTO": "market",
                        "PRODUCTO CIA": "product_cia",
                        "TARIFA.1": "rate",
                        "P1":"pow_price_p1",
                        "P2": "pow_price_p2",
                        "P3": "pow_price_p3",
                        "P4": "pow_price_p4",
                        "P5.1": "pow_price_p5",
                        "P6": "pow_price_p6"
                        }, inplace=True)
df_power

,zone,cia,market,product_cia,rate,pow_price_p1,pow_price_p2,pow_price_p3,pow_price_p4,pow_price_p5,pow_price_p6
0,BALEARES,ACCIONA,INDEXADO,CIERZO,2.0TD,0.088121,0.019570,0.000000,0.000000,0.000000,0.000000
1,BALEARES,ACCIONA,INDEXADO,CIERZO,3.0TD,0.056000,0.046924,0.030475,0.028048,0.023445,0.021317
2,BALEARES,ACCIONA,INDEXADO,CIERZO,6.1TD,0.077855,0.072249,0.047885,0.041248,0.021896,0.019686
3,BALEARES,ACCIONA,INDEXADO,CIERZO,6.2TD,0.060270,0.056978,0.037051,0.035407,0.019981,0.018683
4,BALEARES,ACCIONA,INDEXADO,LEVANTE+,2.0TD,0.082641,0.014091,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
410,CANARIAS,MAX,INDEXADO,MAYOR A,3.0TD,0.062966,0.057258,0.035622,0.034668,0.032144,0.030140
411,CANARIAS,MAX,INDEXADO,MAYOR A,6.1TD,0.087576,0.079017,0.052952,0.048111,0.029887,0.027805
412,CANARIAS,MAX,INDEXADO,MAYOR A,6.2TD,0.068017,0.064823,0.041765,0.038133,0.027939,0.026717
413,CANARIAS,MAX,INDEXADO,MAYOR A,6.3TD,0.056695,0.053092,0.039606,0.036305,0.027798,0.026820
414,CANARIAS,MAX,INDEXADO,MAYOR A,6.4TD,0.050219,0.045816,0.035379,0.033079,0.026499,0.026021

In [172]:
df_power["zone"] = df_power["zone"].apply(change_zones)
df_power["market"] = df_power["market"].apply(change_market)
df_power.fillna(value=0)

,zone,cia,market,product_cia,rate,pow_price_p1,pow_price_p2,pow_price_p3,pow_price_p4,pow_price_p5,pow_price_p6
0,B,ACCIONA,I,CIERZO,2.0TD,0.088121,0.019570,0.000000,0.000000,0.000000,0.000000
1,B,ACCIONA,I,CIERZO,3.0TD,0.056000,0.046924,0.030475,0.028048,0.023445,0.021317
2,B,ACCIONA,I,CIERZO,6.1TD,0.077855,0.072249,0.047885,0.041248,0.021896,0.019686
3,B,ACCIONA,I,CIERZO,6.2TD,0.060270,0.056978,0.037051,0.035407,0.019981,0.018683
4,B,ACCIONA,I,LEVANTE+,2.0TD,0.082641,0.014091,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
410,C,MAX,I,MAYOR A,3.0TD,0.062966,0.057258,0.035622,0.034668,0.032144,0.030140
411,C,MAX,I,MAYOR A,6.1TD,0.087576,0.079017,0.052952,0.048111,0.029887,0.027805
412,C,MAX,I,MAYOR A,6.2TD,0.068017,0.064823,0.041765,0.038133,0.027939,0.026717
413,C,MAX,I,MAYOR A,6.3TD,0.056695,0.053092,0.039606,0.036305,0.027798,0.026820
414,C,MAX,I,MAYOR A,6.4TD,0.050219,0.045816,0.035379,0.033079,0.026499,0.026021

In [148]:
df_power.to_sql('cia_pow_several', con=engine, index=False, if_exists='replace')

415

In [ ]:
engine.dispose()

In [149]:
def read_info_prices(path, header, sheet_name):
    df = pd.read_excel(path, header=header, sheet_name=sheet_name)

    return df

def change_zones(zone):
    if zone == "BALEARES":
      return "B"
    elif zone == "CANARIAS":
      return "C"
    else:
      return "C"
    
def change_market(m):
    if m == "FIJO":
        return "F"
    else:
        return "I"

In [152]:
PATH_XLSX = "../data/PRECIOS_LUZ.xlsx"
CONNECTION = 'postgresql://grupo3desafio:SEP23-thebridge-tripulantes@database-desafio-grupo3.postgres.database.azure.com:5432/proyectoTribu'

In [154]:
df_fixed = read_info_prices(PATH_XLSX, 1, "FIJO")
df_indexed = read_info_prices(PATH_XLSX, 1, "FIJO")
df_fixed.drop(columns="Unnamed: 0", inplace=True, axis=1)

df_fixed.rename(columns={"sistema": "zone",
                        "cia": "cia",
                        "producto": "market",
                        "producto cia": "product_cia",
                        "tarifa": "rate",
                        "fee": "fee",
                        "P1":"con_price_p1",
                        "P2": "con_price_p2",
                        "P3": "con_price_p3",
                        "P4": "con_price_p4",
                        "P5": "con_price_p5",
                        "P6": "con_price_p6",
                        "P1.": "pow_price_p1",
                        "P2.": "pow_price_p2",
                        "P3.": "pow_price_p3",
                        "P4.": "pow_price_p4",
                        "P5.": "pow_price_p5",
                        "P6.": "pow_price_p6", 
                        }, inplace=True)

df_indexed_date = df_indexed.iloc[:,0:12]
df_indexed_date.drop(columns="Unnamed: 0", inplace=True, axis=1)

df_indexed_date.rename(columns={"SISTEMA": "zone",
                        "CIA": "cia",
                        "PRODUCTO": "market",
                        "PRODUCTO CIA": "product_name",
                        "TARIFA": "rate",
                        "FEE": "fee",
                        "MES": "indexed_date",
                        "P1.":"con_price_p1",
                        "P2.": "con_price_p2",
                        "P3.": "con_price_p3",
                        "P4.": "con_price_p4",
                        "P5": "con_price_p5",
                        "P6.": "con_price_p6"
                        }, inplace=True)
df_indexed_date["market"] = "INDEXADO"

df_con_sev = pd.concat([df_fixed, df_indexed_date])

df_con_sev["zone"] = df_con_sev["zone"].apply(change_zones)
df_con_sev["market"] = df_con_sev["market"].apply(change_market)
df_con_sev.fillna(value=0)
# Connection postgresql
engine = create_engine(CONNECTION)
df_con_sev.to_sql('cia_con_several', con=engine, index=False, if_exists='replace')

In [156]:
df_power
# CIA POWER PRICES
df_power = df_indexed.iloc[:,12:]
#df_power.drop(columns="Unnamed: 12", inplace=True, axis=1)
df_power.dropna(inplace=True)
df_power.rename(columns={"SISTEMA.1": "zone",
                        "CIA.1": "cia",
                        "PRODUCTO": "market",
                        "PRODUCTO CIA": "product_cia",
                        "TARIFA.1": "rate",
                        "P1":"pow_price_p1",
                        "P2": "pow_price_p2",
                        "P3": "pow_price_p3",
                        "P4": "pow_price_p4",
                        "P5.1": "pow_price_p5",
                        "P6": "pow_price_p6"
                        }, inplace=True)

In [160]:
df_indexed

,Unnamed: 0,sistema,cia,producto,producto cia,tarifa,fee,P1,P2,P3,P4,P5,P6,P1.,P2.,P3.,P4.,P5.,P6.
0,NaN,BALEARES,ACCIONA,FIJO,CIERZO,2.0TD,-,0.088121,0.019570,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.356438,0.305364,0.266744,0,0,0
1,NaN,BALEARES,ACCIONA,FIJO,LEVANTE,2.0TD,-,0.071682,0.003132,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.367603,0.316529,0.277909,0,0,0
2,NaN,BALEARES,ACCIONA,FIJO,LEVANTE+,2.0TD,-,0.082641,0.014091,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.367603,0.316529,0.277909,0,0,0
3,NaN,BALEARES,ACCIONA,FIJO,PONIENTE,2.0TD,-,0.071682,0.003132,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.361513,0.310439,0.271819,0,0,0
4,NaN,BALEARES,ACCIONA,FIJO,PONIENTE+,2.0TD,-,0.077162,0.008611,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.361513,0.310439,0.271819,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,NaN,PENINSULA,ADI,FIJO,ADI SENCILLA,3.0TD,-,0.038308,0.032600,1.096451e-02,1.001089e-02,7.486868e-03,5.482564e-03,0.239604,0.218459,0.19183,0.171813,0.168778,0.167685
906,NaN,PENINSULA,TOTAL,FIJO,CLASICA TE5 UNICA,6.1TD,-,0.074000,0.065000,3.900000e-02,3.400000e-02,1.600000e-02,1.400000e-02,-,-,-,-,-,-
907,NaN,PENINSULA,ENDESA,FIJO,TEMPO OPEN 50≤100kW,3.0TD,-,0.039951,0.034164,1.222790e-02,1.126103e-02,8.701967e-03,6.669833e-03,0.231174,0.231174,0.231174,0.231174,0.231174,0.231174
908,NaN,PENINSULA,ENDESA,FIJO,TEMPO OPEN >100kW,3.0TD,-,0.039951,0.034164,1.222790e-02,1.126103e-02,8.701967e-03,6.669833e-03,0.231174,0.231174,0.231174,0.231174,0.231174,0.231174
909,NaN,PENINSULA,ENDESA,FIJO,TEMPO 3 PERIODOS,2.0TD,-,0.101064,0.034285,1.000000e-11,1.000000e-11,1.000000e-11,1.000000e-11,0.268,0.213,0.176,0.0,0.0,0.0

In [159]:
df_power = df_indexed.iloc[:,12:]
df_power

               P6       P1.       P2.       P3.       P4.       P5.       P6.
0    0.000000e+00  0.356438  0.305364  0.266744         0         0         0
1    0.000000e+00  0.367603  0.316529  0.277909         0         0         0
2    0.000000e+00  0.367603  0.316529  0.277909         0         0         0
3    0.000000e+00  0.361513  0.310439  0.271819         0         0         0
4    0.000000e+00  0.361513  0.310439  0.271819         0         0         0
..            ...       ...       ...       ...       ...       ...       ...
905  5.482564e-03  0.239604  0.218459   0.19183  0.171813  0.168778  0.167685
906  1.400000e-02         -         -         -         -         -         -
907  6.669833e-03  0.231174  0.231174  0.231174  0.231174  0.231174  0.231174
908  6.669833e-03  0.231174  0.231174  0.231174  0.231174  0.231174  0.231174
909  1.000000e-11     0.268     0.213     0.176       0.0       0.0       0.0

[910 rows x 7 columns]

In [ ]:
df_power["zone"] = df_power["zone"].apply(change_zones)
df_power["market"] = df_power["market"].apply(change_market)
df_power.fillna(value=0)
df_power.to_sql('cia_pow_several', con=engine, index=False, if_exists='replace')
#Close connection

In [157]:
df_power

     pow_price_p6       P1.       P2.       P3.       P4.       P5.       P6.
0    0.000000e+00  0.356438  0.305364  0.266744         0         0         0
1    0.000000e+00  0.367603  0.316529  0.277909         0         0         0
2    0.000000e+00  0.367603  0.316529  0.277909         0         0         0
3    0.000000e+00  0.361513  0.310439  0.271819         0         0         0
4    0.000000e+00  0.361513  0.310439  0.271819         0         0         0
..            ...       ...       ...       ...       ...       ...       ...
905  5.482564e-03  0.239604  0.218459   0.19183  0.171813  0.168778  0.167685
906  1.400000e-02         -         -         -         -         -         -
907  6.669833e-03  0.231174  0.231174  0.231174  0.231174  0.231174  0.231174
908  6.669833e-03  0.231174  0.231174  0.231174  0.231174  0.231174  0.231174
909  1.000000e-11     0.268     0.213     0.176       0.0       0.0       0.0

[910 rows x 7 columns]